# Action for quality assurance (checking code with ESLint and running unit tests)
name: Quality Assurance

# Trigger workflow on pushes to master including Javascript files and any pull requests for master
on:
  push:
    branches: [ master ]
    paths:
      - '**.js'
  pull_request:
    branches: [ master ]

# Workflow
jobs:
  # Lint job
  eslint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: "12.x"
      - name: Install modules
        run: npm install
      - name: Run code linter
        run: npm run lint
      - name: Run unit tests
        run: npm test